* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://img3.goodfon.com/wallpaper/nbig/c/bb/space-galaxy-purple-stars.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h3 {
    color: #FECDCD;
    font-size: 45px;
    font-family: 'Play', sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center 
}

#calculator {
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    border-radius: 8px;
    background: #FE8B87;

}

#display {
    width: 99%;
    height: 99%;
    background: #FECDCD;
    border-radius: 8px;
}

.button, .equation {
    width: 95%;
    height: 80%;
    background: #FECDCD;
    border-radius: 100px;
}

.button:active {
    background: #B55389;
}

.button, #display, .equation {
    color: #8C3964;
    border: solid #FECDCD 2px;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    font-weight: 900
}

.equation {
    background: #8C3964;
    border: solid #8C3964 2px;
    color: #FECDCD;
}

.equation:active {
    background: #ffaaaa;
}

